{% extends "base.html" %}
{% load ngnotifier_filters %}

{% block contents %}
  <div class="bs-docs-section clearfix" style="margin-top: 1em">
    <div class="row">

      <div class="leftcol col-lg-3 well bs-component">
        <fieldset>
          <div class="form-group">
            <input class="form-control input-sm" type="text" id="input_search" placeholder="Search a news, a word, ...">
          </div>
        </fieldset>
        {% with user.get_groups_followed as followed_groups %}
        {% for host in hosts|sort_hosts %}
          <h4><b>{{ host.host }} [{{ host.nb_groups }}]</b></h4>
          <ul style="list-style-type: none; margin-left: -50px">
            {% for group in host.get_ordered_groups %}
              <li>
                {% if user.is_authenticated %}
                  {% if group.id in followed_groups %} {# THIS LINE IS SLOWING DOWN THE PAGE LOADING #}
                    <button class="follow" value="unfollow" data-id="{{ group.id }}" class="btn-flat"><i class="fa fa-check-square"></i></button>&nbsp;
                  {% else %}
                    <button class="follow" value="follow" data-id="{{ group.id }}" class="btn-flat"><i class="fa fa-square"></i></button>&nbsp;
                  {% endif %}
                {% endif %}
                <a data-group="{{ group.id }}" class="group-link" href="#">
                  <span class="badge">{{ group.nb_topics }}</span>
                  {{ group.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
        {% endwith %}
      </div>
      <div class="col-lg-9">
        <div id="news-list" style="height: 200px;" class=" well bs-component">
          <h3 style="text-align: center">Click on a group to review its news!</h3>
          {% if user.is_authenticated %}
          {% else %}
          <h3 style="text-align: center">You can also receive notifs by subscribing!</h3>
          {% endif %}
        </div>
        <div style="margin-top: 1em" id="contents" class=" well bs-component">
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}
{% block scripts %}
  <script>
    function show_result(str) {
      var contents = $("#news-list");
      contents.css("overflow","auto");
      contents.html("");
      if (str.length < 2)
        return;
      $.ajax({
        url: "{% url 'search' %}?term=" + str + '&web_render'
      }).done(function (json) {
        contents.html("");
        if (jQuery.isEmptyObject(json))
          contents.html('<h3 style="text-align: center">Nothing is matching ' + str + '.</h3>');
        else {
          var ul = $('<ul>').appendTo('#news-list');
          ul.css("list-style-type", "none");
          ul.css("margin-left", "-30px");
          $.each(json, function (key, value) {
            ul.append('<li><a class="news-link" href="#" data-id="' + value['id'] + '">' + value['display-name'] + '</a></li>');
          });

          $(".news-link").click(function(event) {
            var news_id = this.getAttribute('data-id');
            event.preventDefault();
            $.ajax({
              url: '/{{ site_url_prefix }}news/' + news_id + '/'
            }).done(function (json) {
              $("#contents").html("");
              $('<h4>').appendTo('#contents').html('<b>' + json['subject'] + '</b> ');
              $('<h5>').appendTo('#contents').html(
                      '<b>Posted in:</b> ' + json['posted-in'] + '<br>' +
                      '<b>From:</b> ' + json['from'] + '<br>' +
                      '<b>Date:</b> ' + json['date']
              );
              $('<p>').appendTo('#contents').html(add_urls(json['contents']).replace(new RegExp('\r?\n','g'), '<br>'));
            });
          });
        }});
    }

    $("#input_search").keyup(function(event) {
      show_result($(this).val());
      event.preventDefault();
    });

  </script>
{% endblock scripts %}